name: Build and Test

run-name: Build and run tests in ${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Check and Test
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.16.0-dev.2676+4e2cec265
      - run: |
          zig build check
          zig build test --summary all
